<div class="radio-definition-view">
  <div class="question-text-type">
    <md-input-container>
      <input mdInput type="text" placeholder="Question text" [(ngModel)]="question.questionLabel"/>
    </md-input-container>

    <app-question-type-select
      [value]="definition"
      (valueChange)="onTypeChange.emit($event)"
    >
    </app-question-type-select>
  </div>

  <md-radio-group class="radio-group" [(ngModel)]="selectedValue">
    <div *ngFor="let option of question.options" class="radio-container"
         (click)="handleSelect(option)">
      <md-radio-button class="radio-button"
                       [value]="option.value"
                       [checked]="option.isSelected"
      >
      </md-radio-button>
      <md-input-container class="radio-input">
        <input mdInput type="text" [(ngModel)]="option.value" #optionRef/>
      </md-input-container>
      <span (click)="handleDelete(option)"><i class="fa fa-times del" aria-hidden="true"></i></span>
    </div>
    <div class="radio-container">
      <md-radio-button class="radio-button"
                       [value]="'none'"
                       disabled
      >
      </md-radio-button>
      <md-input-container (click)="handleNew($event)">
        <input mdInput type="text" placeholder="new option" readonly disabled/>
      </md-input-container>
    </div>
  </md-radio-group>
</div>
