form{
  width: 323px;
}

md-input-container{
  margin-bottom: 8px;
}

.sing-in-form{
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  background-color: white;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
