.navbar-container {
  background-color: #24292e;

  a, a:hover {
    color: white;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
      padding: 8px;
      cursor: pointer;
    }
  }


  .right-controls, .left-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .left-controls{
    margin-left: 32px;
  }

  .search-control {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      border-radius: 3px;
      padding: 4px;
    }
  }

  .nav-link {
    cursor: pointer;
  }
}
