.new-survey-container {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
  }

  .main-form {
    display: flex;
    flex-direction: column;

    .description {
      width: 500px;
    }
  }

  .access {
    display: flex;
    flex-direction: column;

    md-radio-group {
      display: flex;
      flex-direction: column;
    }
  }

  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
