<section class="survey-card">
  <div *ngIf="includeAuthor" class="survey-author">
    <a [routerLink]="['console/profile/',survey.createdBy]">{{survey.createdBy}}</a>
  </div>
  <div class="survey-card-header">
    <div class="header">
      <a [routerLink]="['survey/'+survey.surveyId]">
        <h1>{{survey.surveyName}}</h1>
      </a>
      <a class="survey-edit" *ngIf="canEdit" [routerLink]="['survey/'+survey.surveyId+'/edit']">
        (edit)
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="controlls">
      stars: {{survey.stars}}
    </div>
  </div>
  <div class="survey-card-content">
    {{survey.description}}
  </div>
  <div class="survey-card-footer">
    <div>Modified: {{survey.modifiedDate.toLocaleDateString()}}</div>
    <div>Created: {{survey.createdDate.toLocaleDateString()}}</div>
  </div>
</section>
