<div class="survey-page">
  <div class="survey-page-header">
  </div>

  <div class="survey-page-wrapper">
    <div class="survey-page-nav">

    </div>
    <div class="survey-page-content" *ngIf="survey">
      <md-card>
        <div> Survey : {{survey.surveyName}}</div>
        <md-tab-group>
          <md-tab label="Create">s</md-tab>
          <md-tab label="Preview">s</md-tab>
          <md-tab label="Settings"></md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>

  {{survey | json}}
</div>
