@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CoreQuizz.WebService.ViewModel.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="Identity" asp-action="Login">
    <input type="email" name="Email" placeholder="Email"/>
    <input type="password" name="Password" placeholder="Password"/>
    <input type="submit" value="Login"/>
</form>
