<div class="survey-page">
  <div class="survey-page-header">
  </div>

  <div class="survey-page-wrapper">
    <div class="survey-page-nav">

    </div>
    <div class="survey-page-content">
      <md-card>
        <md-tab-group [@.disabled]="true">
          <md-tab label="Edit">
            <app-survey-edit-tab
              [survey]="survey"
            >
            </app-survey-edit-tab>
          </md-tab>
          <md-tab label="Preview">
            <app-survey-preview-tab
              [survey]="survey"
            ></app-survey-preview-tab>
          </md-tab>
          <md-tab label="Settings">
            <app-survey-settings-tab
              (onAccessChange)="handleAccessChange($event)"
            ></app-survey-settings-tab>
          </md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>
</div>
