<div class="navbar-container">
  <div class="core-container">
    <nav>
      <div class="left-controls">
        <a class="navbar-brand" [routerLink]="['/console']" >CoreQuizz</a>
        <div class="search-control">
          <input type="text" placeholder="Search" [value]="searchText" (input)="searchText = search.value" (keypress)="handleKeyPress($event)" #search/>
        </div>
      </div>
      <div class="right-controls">
        <app-authentificated type="inverse">
          <div class="navbar-nav">
            <a class="nav-link" (click)="onSignIn.emit()">Sign in</a>
            <a class="nav-link" (click)="onSignUp.emit()">Sign up</a>
          </div>
        </app-authentificated>
        <app-authentificated type="straight">
          <a class="nav-link" (click)="handleLogOut()">Log out</a>
        </app-authentificated>
      </div>
    </nav>
  </div>
</div>
