<div class="survey-page">
  <div class="survey-page-header">
  </div>

  <div class="survey-page-wrapper">
    <div class="survey-page-nav">

    </div>
    <div class="survey-page-content">
      <md-card>
        <div *ngIf="survey"> Survey : {{survey.surveyName}}</div>
        <md-tab-group>
          <md-tab label="Edit">
            <app-survey-edit-tab></app-survey-edit-tab>
          </md-tab>
          <md-tab label="Preview">
            <app-survey-previre-tab></app-survey-previre-tab>
          </md-tab>
          <md-tab label="Settings">
            <app-survey-settings-tab></app-survey-settings-tab>
          </md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>

  {{survey | json}}
</div>
