@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Eleks.Yurii.Fozekosh.CoreQuizz.WebService.ViewModel.Account.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="LoginUser" method="post" class="login-form">
            <h4>Login into sysyem.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Login" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>